.App {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.Map {
  border: 2px solid red;
  width: 50vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-container {
  height: 1000px;
  margin-bottom: 50px;
}


.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: bottom;
  top: 0;
  left: 0;
  bottom: 100;
  margin: 12px;
  border-radius: 4px;
  }